
@font-face {
  font-family: 'Sucrose Bold Two';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2") format("woff2");
}
@font-face {
  font-family: 'IM Fell French Canon Pro';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2") format("woff2");
}

* {

  /* margin: 0%; */
  padding: 0%;

  box-sizing: border-box;
}

#large-header {
 position: relative;
 margin: auto;
 width: 90%;
 padding: 10px;

}

#large-header canvas, #loader {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
 
}

body{
  width: 100vw;
  height: 100vh;
  background-color:rgb(36, 128, 214);
  background-size: cover;

}
header {

  font-family: 'Sucrose Bold Two';
}
header h1 {

  font-size: 3vw;
  line-height: .8;
  top: 20px;
  text-align: center;
  color:white;
  left:800px;
 
}





center {
  margin-top: 90px;
}

.searchTerm {
  border: none;
  background: none;
  outline: none;
  float: left;

  color: #ffffff;
  font-size: 21px;
  font-weight: normal;
  transition: 0.4s;
  line-height: 60px;
  width: 0px;

}


#wrap {
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);
  background: #172436;
  height: 58px;
  border-radius: 40px;
  
}

#wrap:hover  .searchTerm{
  width: 240px;
  padding: 0 6px;
}

#wrap:hover > .search-btn{
  background: white;
  color: black;
  
}

.search-btn {
  color: #6ceef8;

  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: #172436;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
  
}
.search-btn > i {
  font-size: 20px;
}

  
  



#popular{
  font-family: 'Sucrose Bold Two';
  font-size: 3vw;
  line-height: .8;
  text-align: center;
  color:white;
}
header h1 span {
  display: block;
  font-size: 3.75vw;
  text-align: center;
}
#autoComplete {
  background-position: 100% ;
}
h3{
  color: white;
  font-size: 1vw;
  line-height: .8;
  top: 200px;
  text-align: center;
  color:white;
  left:1000px;
  display: block;
  text-align: center;
}
figure {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.movies {
  display: grid;
  grid-gap: 3em 2em;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.movie{
  transition: transform .2s;
}

.movie:hover {
  transform: scale(1.1);
}


.movie__figure {
  position: relative;
}

.movie__poster {
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
          box-shadow: 0 0 1em rgba(0, 0, 0, .5);
  margin-bottom: 0.5em;
  border-radius: 20px;
}

.movie__vote {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f68d01;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .25);
          box-shadow: 0 0 1em rgba(0, 0, 0, .25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.25em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 75%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 2.25em;
}

.movie__title {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
  font-family: 'Sucrose Bold Two';
  text-align: center;
}

:root {
  font-size: 20px;
}
@media screen and (max-width: 730px) {
  :root {
    font-size: 18px;
  }
}
@media screen and (max-width: 540px) {
  :root {
    font-size: 16px;
  }
}
@media screen and (max-width: 465px) {
  :root {
    font-size: 12px;
  }
}

.wrapper {
  height: inherit;
  width: inherit;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

