@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@font-face {
  font-family: 'Sucrose Bold Two';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2") format("woff2");
}
@font-face {
  font-family: 'IM Fell French Canon Pro';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2") format("woff2");
}

* {

  /* margin: 0%; */
  padding: 0%;

  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color:rgb(36, 128, 214);
  background-size: cover;

}

#large-header {
 position: relative;
 margin: auto;
 width: 90%;
 padding: 10px;

}

#large-header canvas, #loader {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: 20px;
 
}


div#loader-3 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  /* top: 4400px; */
  top: 2390px;
  margin-right: 20px;
}

@media screen and (max-width: 910px) {
  div#loader-3 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    /* top: 4400px; */
    top: 5900px;
    margin-right: 20px;
  }
  
}

@media screen and (max-width: 1221.60px) and (min-width: 910px) {
  div#loader-3 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    /* top: 4400px; */
    top: 4190px;
    margin-right: 20px;
  }
  
}

@media screen and (max-width: 1532.30px)
and (min-width: 1222px) {
  div#loader-3 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    /* top: 4400px; */
    top: 2980px;
    margin-right: 20px;
  }
  
}

@media screen and (min-width: 1533px) {
  div#loader-3 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    /* top: 4400px; */
    top: 2360px;
    margin-right: 20px;
  }
  
}



.large-header > h1{
  font-family: 'Sucrose Bold Two', sans-serif;
  font-size: 2em;
  color: #e54a4a;
  text-align: center;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  text-transform: uppercase;
  font-weight: 300;
  margin: 32px;
  margin-left: 36px;
  padding: 0;
}


.large-header > #loader-3 > h1{
  font-family: 'Sucrose Bold Two', sans-serif;
  font-size: 2em;
  color: #e54a4a;
  text-align: center;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  text-transform: uppercase;
  font-weight: 300;
  margin: 32px;
  margin-left: 36px;
  padding: 0;
}


header {

  font-family: 'Sucrose Bold Two';
}

.large-header > header h1 {

  font-family: 'Montserrat';
  font-size: 3vw;
  line-height: .8;
  top: 20px;
  text-align: center;
  color:white;
  left:800px;
  text-shadow: 0 0 5px rgb(0 0 0 / 50%);
  font-weight: 100;
}





center {
  margin-top: 120px;
  margin-bottom: 200px;
}

.searchTerm {
  border: none;
  background: none;
  outline: none;
  float: left;

  color: #ffffff;
  font-size: 21px;
  font-weight: normal;
  transition: 0.4s;
  line-height: 60px;
  width: 0px;

}


#wrap {
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);
  background: #172436;
  height: 58px;
  border-radius: 40px;
  
}

#wrap:hover  .searchTerm{
  width: 240px;
  padding: 0 6px;
}

#wrap:hover > .search-btn{
  background: white;
  color: black;
  
}

.search-btn {
  color: #6ceef8;

  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: #172436;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
.search-btn > i {
  font-size: 20px;
}

  
  



#popular{
  font-family: 'Sucrose Bold Two';
  font-size: 3vw;
  line-height: .8;
  text-align: center;
  color:white;
}
header h1 span {
  font-family: 'Montserrat';
  display: block;
  font-size: 3.35vw;
  text-align: center;
  font-weight: 100;
  margin-top: 10px;
}
#autoComplete {
  background-position: 100% ;
}
h3{
  color: white;
  font-size: 1vw;
  line-height: .8;
  top: 200px;
  text-align: center;
  color:white;
  left:1000px;
  display: block;
  text-align: center;
}
figure {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.movies {
  display: grid;
  grid-gap: 3em 2em;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.movie{
  transition: transform .2s;
}

.movie:hover {
  transform: scale(1.1);
}


.movie__figure {
  position: relative;
}

.movie__poster {
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
          box-shadow: 0 0 1em rgba(0, 0, 0, .5);
  margin-bottom: 0.5em;
  border-radius: 20px;
}

.movie__vote {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f68d01;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .25);
          box-shadow: 0 0 1em rgba(0, 0, 0, .25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.25em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 75%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 2.25em;
}

.movie__title {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
  font-family: 'Sucrose Bold Two';
  text-align: center;
}

:root {
  font-size: 20px;
}
@media screen and (max-width: 730px) {
  :root {
    font-size: 18px;
  }
}
@media screen and (max-width: 540px) {
  :root {
    font-size: 16px;
  }
}
@media screen and (max-width: 465px) {
  :root {
    font-size: 12px;
  }
}

.wrapper {
  height: inherit;
  width: inherit;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}





@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 480px)  
{
  .social-link{
    display: inline-flex;
    position: relative;
    left: 1400px;
    top: 90px;
    z-index: 100;
  }

}

@media only screen   
and (min-device-width : 360px)   
and (max-device-width : 640px)  
{
  .social-link{
    display: inline-flex;
    position: relative;
    left: 630px;
    top: 90px;
    z-index: 100;
  }

}


@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)   {
    .social-link{
      display: inline-flex;
      position: relative;
      left: 680px;
      top: 90px;
      z-index: 100;
    }
  }

@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px)  {
  .social-link{
    display: inline-flex;
    position: relative;
    left: 900px;
    top: 90px;
    z-index: 100;
  } 
}


@media only screen   
and (min-width: 1370px)  
and (max-width: 1605px)    {
  .social-link{
    display: inline-flex;
    position: relative;
    left: 1050px;
    top: 90px;
    z-index: 100;
  } 
}





/* .social-link{
  display: inline-flex;
  position: relative;
  left: 1400px;
  top: 90px;
  z-index: 100;
} */

.social-link .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.social-link .button:hover{
  width: 200px;
}
.social-link .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.social-link .button:nth-child(1):hover .icon{
  background: #E1306C; 
}
.social-link .button:nth-child(2):hover .icon{
  background: #171718;
}
.social-link .button:nth-child(3):hover .icon{
  background: #1DA1F2;
}
.social-link .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.social-link .button:hover .icon i{
  color: #fff;
}
i.fab.fa-github {
  color: black;
}
i.fab.fa-linkedin {
  color: #1DA1F2;
}
i.fab.fa-instagram {
  color: #E1306C;
}

.social-link .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.social-link .button:nth-child(1) span{
  color: #E1306C;
}
.social-link .button:nth-child(2) span{
  color: #171718;
}
.social-link .button:nth-child(3) span{
  color: #1DA1F2;
}

a:link { text-decoration: none; }




@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  {
        div#loader-3 {
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          margin-left: auto;
          /* top: 4400px; */
          top: 3830px;
          margin-right: 20px;
    }
  }