<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Movie Recommender</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/recom.css') }}">

</head>
<body>

  <a href="/"><div class="icon icon-fill"><i class="fa fa-home"></i></div></a>

  <div class="fullscreen">

    <header>

    <h1 class="Underline"><a href="/">The <span>Recommender</a></h1>

     <h3> Showing Results for: {{search_name}}</h3>

    </header>


    <div class="container" >
     

      <div class="card card_1" id="image1">
        <div class="content">
            <div class="title">
              {{ movie_names[0]}}
            </div>
            <div class="text">
            </div>
         </div>
        <div class="sinopse">
          <iframe id="ytplayer" type="text/html"  frameborder="0" autoplay allowfullscreen></iframe>
          <div class="content-sinopse">
            <div class="title">Series Synopsis</div>
            <div class="text">{{ movie_overview[0] }}</div>
          </div>
        </div>
      </div>

      <div class="card card_2" id="image2">
        <div class="content">
          <div class="title">
            {{ movie_names[1]}}
          </div>
          <div class="text">
          </div>
        </div>
        <div class="sinopse">
          <iframe id="ytplayer1" class="player1" type="text/html"  frameborder="0" autoplay allowfullscreen></iframe>
          <div class="content-sinopse">
            <div class="title">Series Synopsis</div>
            <div class="text">{{ movie_overview[1] }}
            </div>
          </div>
        </div>
      </div>

      <div class="card card_3" id="image3"> 
        <div class="content">
          <div class="title">
            {{ movie_names[2]}}
          </div>
          <div class="text">
          </div>
        </div>
        <div class="sinopse">
          <iframe id="ytplayer2" class="player2" type="text/html"  frameborder="0" autoplay allowfullscreen></iframe>
          <div class="content-sinopse">
            <div class="title">Series Synopsis</div>
            <div class="text">{{ movie_overview[2] }}
            </div>
          </div>
        </div>
      </div>

      <div class="card card_4" id="image4">     
        <div class="content">
          <div class="title">
            {{ movie_names[3]}}
          </div>
          <div class="text">
          </div>
        </div>
        <div class="sinopse">
          <iframe id="ytplayer3" class="player3" type="text/html"  frameborder="0" autoplay allowfullscreen></iframe>
          <div class="content-sinopse">
            <div class="title">Series Synopsis</div>
            <div class="text">{{ movie_overview[3] }}
            </div>
          </div>
        </div>
      </div>

     <div class="card card_5" id="image5">      
        <div class="content">
          <div class="title">
            {{ movie_names[4]}}
          </div>
          <div class="text"> 
          </div>
        </div>
        <div class="sinopse">
          <iframe id="ytplayer4" class="player4" type="text/html"  frameborder="0" autoplay allowfullscreen></iframe>  
          <div class="content-sinopse">
            <div class="title">Series Synopsis</div>
            <div class="text">{{ movie_overview[4] }}
            </div>
          </div>
         </div>
     </div>

        <div class="card card_6" id="image6">           
          <div class="content">
            <div class="title">
              {{ movie_names[5]}}
            </div>
            <div class="text">
            </div>
          </div>
          <div class="sinopse">
            <iframe id="ytplayer5" class="player5" type="text/html"  frameborder="0" autoplay allowfullscreen></iframe>
            <div class="content-sinopse">
              <div class="title">Series Synopsis</div>
              <div class="text">{{ movie_overview[5] }}
              </div>
            </div>
          </div>
        </div>

        <div class="card card_7" id="image7">              
          <div class="content">
            <div class="title">
              {{ movie_names[6]}}
            </div>
            <div class="text">
            </div>
          </div>
          <div class="sinopse">
            <iframe id="ytplayer6" class="player6" type="text/html"  frameborder="0" autoplay allowfullscreen></iframe>
            <div class="content-sinopse">
              <div class="title">Series Synopsis</div>
              <div class="text">{{ movie_overview[6] }}
              </div>
            </div>
          </div>
        </div>

        <div class="card card_8" id="image8">          
          <div class="content">
            <div class="title">
              {{ movie_names[7]}}
            </div>
            <div class="text">     
            </div>
          </div>
          <div class="sinopse">
            <iframe id="ytplayer7" class="player7" type="text/html"  frameborder="0" autoplay allowfullscreen></iframe> 
            <div class="content-sinopse">
              <div class="title">Series Synopsis</div>
              <div class="text">{{ movie_overview[7] }}
              </div>
            </div>
          </div>
        </div>

      <div class="card card_9" id="image9">            
        <div class="content">
          <div class="title">
            {{ movie_names[8]}}
          </div>
          <div class="text">   
          </div>
        </div>
        <div class="sinopse">
          <iframe id="ytplayer8" class="player8" type="text/html"  frameborder="0" autoplay allowfullscreen></iframe>    
          <div class="content-sinopse">
            <div class="title">Series Synopsis</div>
            <div class="text">{{ movie_overview[8] }}
            </div>
          </div>
        </div>
      </div>

       <div class="card card_10" id="image10">               
          <div class="content">
            <div class="title">
              {{ movie_names[9]}}
            </div>
            <div class="text">     
            </div>
          </div>
          <div class="sinopse">
            <iframe id="ytplayer9" class="player9" type="text/html"  frameborder="0" autoplay allowfullscreen></iframe>      
            <div class="content-sinopse">
              <div class="title">Series Synopsis</div>
              <div class="text">{{ movie_overview[9] }}
              </div>
            </div>
          </div>
     
        </div>
     
  
  </div>
 
 </div>


  
      <footer>
       
      </footer>

<!-- partial -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
fetch("https://api.themoviedb.org/3/movie/"+{{movieid[0]}}+"?api_key=58324bd42da27aa05d2eae68848a10b2&language=en-US")
    .then((response) => response.json())
    .then((data) => {
    const value = data.poster_path;
    console.log(value);
    //Apply HTML src

     var urlString = "url('https://image.tmdb.org/t/p/original" + value + " ')";
     document.getElementById('image1').style.backgroundImage = urlString;
	 document.getElementById('image1').style.backgroundRepeat = "no-repeat";
	  document.getElementById('image1').style.backgroundSize = "cover";
});
</script>

<script>
fetch("https://api.themoviedb.org/3/movie/"+{{movieid[1]}}+"?api_key=58324bd42da27aa05d2eae68848a10b2&language=en-US")
    .then((response) => response.json())
    .then((data) => {
    const value = data.poster_path;
    //Apply HTML src

     var urlString = "url('https://image.tmdb.org/t/p/original" + value + " ')";
     document.getElementById('image2').style.backgroundImage = urlString;
	 document.getElementById('image2').style.backgroundRepeat = "no-repeat";
	  document.getElementById('image2').style.backgroundSize = "cover";
});
</script>

<script>
fetch("https://api.themoviedb.org/3/movie/"+{{movieid[2]}}+"?api_key=58324bd42da27aa05d2eae68848a10b2&language=en-US")
    .then((response) => response.json())
    .then((data) => {
    const value = data.poster_path;
    //Apply HTML src

     var urlString = "url('https://image.tmdb.org/t/p/original" + value + " ')";
     document.getElementById('image3').style.backgroundImage = urlString;
	 document.getElementById('image3').style.backgroundRepeat = "no-repeat";
	  document.getElementById('image3').style.backgroundSize = "cover";
});
</script>

<script>
fetch("https://api.themoviedb.org/3/movie/"+{{movieid[3]}}+"?api_key=58324bd42da27aa05d2eae68848a10b2&language=en-US")
    .then((response) => response.json())
    .then((data) => {
    const value = data.poster_path;
    //Apply HTML src

     var urlString = "url('https://image.tmdb.org/t/p/original" + value + " ')";
     document.getElementById('image4').style.backgroundImage = urlString;
	 document.getElementById('image4').style.backgroundRepeat = "no-repeat";
	  document.getElementById('image4').style.backgroundSize = "cover";
});
</script>

<script>
fetch("https://api.themoviedb.org/3/movie/"+{{movieid[4]}}+"?api_key=58324bd42da27aa05d2eae68848a10b2&language=en-US")
  .then((response) => response.json())
  .then((data) => {
  const value = data.poster_path;
  //Apply HTML src

    var urlString = "url('https://image.tmdb.org/t/p/original" + value + " ')";
    document.getElementById('image5').style.backgroundImage = urlString;
  document.getElementById('image5').style.backgroundRepeat = "no-repeat";
  document.getElementById('image5').style.backgroundSize = "cover";
});
</script>
<script>
  fetch("https://api.themoviedb.org/3/movie/"+{{movieid[5]}}+"?api_key=58324bd42da27aa05d2eae68848a10b2&language=en-US")
    .then((response) => response.json())
    .then((data) => {
    const value = data.poster_path;
    //Apply HTML src

     var urlString = "url('https://image.tmdb.org/t/p/original" + value + " ')";
     document.getElementById('image6').style.backgroundImage = urlString;
	 document.getElementById('image6').style.backgroundRepeat = "no-repeat";
	  document.getElementById('image6').style.backgroundSize = "cover";
});
</script>
<script>
 fetch("https://api.themoviedb.org/3/movie/"+{{movieid[6]}}+"?api_key=58324bd42da27aa05d2eae68848a10b2&language=en-US")
    .then((response) => response.json())
    .then((data) => {
    const value = data.poster_path;
    //Apply HTML src

     var urlString = "url('https://image.tmdb.org/t/p/original" + value + " ')";
     document.getElementById('image7').style.backgroundImage = urlString;
	 document.getElementById('image7').style.backgroundRepeat = "no-repeat";
	  document.getElementById('image7').style.backgroundSize = "cover";
});
</script>
<script> 
 fetch("https://api.themoviedb.org/3/movie/"+{{movieid[7]}}+"?api_key=58324bd42da27aa05d2eae68848a10b2&language=en-US")
    .then((response) => response.json())
    .then((data) => {
    const value = data.poster_path;
    //Apply HTML src

     var urlString = "url('https://image.tmdb.org/t/p/original" + value + " ')";
     document.getElementById('image8').style.backgroundImage = urlString;
	 document.getElementById('image8').style.backgroundRepeat = "no-repeat";
	  document.getElementById('image8').style.backgroundSize = "cover";
    });
</script>
<script>
    fetch("https://api.themoviedb.org/3/movie/"+{{movieid[8]}}+"?api_key=58324bd42da27aa05d2eae68848a10b2&language=en-US")
    .then((response) => response.json())
    .then((data) => {
    const value = data.poster_path;
    //Apply HTML src

     var urlString = "url('https://image.tmdb.org/t/p/original" + value + " ')";
     document.getElementById('image9').style.backgroundImage = urlString;
	 document.getElementById('image9').style.backgroundRepeat = "no-repeat";
	  document.getElementById('image9').style.backgroundSize = "cover";
    });
</script>

<script>
    fetch("https://api.themoviedb.org/3/movie/"+{{movieid[9]}}+"?api_key=58324bd42da27aa05d2eae68848a10b2&language=en-US")
    .then((response) => response.json())
    .then((data) => {
    const value = data.poster_path;
    console.log("hello")
    console.log(value)
    //Apply HTML src

     var urlString = "url('https://image.tmdb.org/t/p/original" + value + " ')";
     document.getElementById('image10').style.backgroundImage = urlString;
	 document.getElementById('image10').style.backgroundRepeat = "no-repeat";
	  document.getElementById('image10').style.backgroundSize = "cover";
    });
 

</script>

<script>
  $(".card").hover(function() {
    var vSrc =  $(this).find('iframe').data('video');
    var video = $(this).find('iframe');
    video.attr('src',vSrc);
    setTimeout(function(){ player.unMute(); }, 1000);
  },
  function() {
    $(this).find('iframe').attr('src','');
  });
  
  $('.view').click(function(){
    var el = $(this);
  
    if(el.hasClass('series_lacasa') == true){
      $('.episodes .episode').each(function(){
        var toShow = $(this).data('lacasa');
        $(this).css('background','url('+toShow+') no-repeat center/cover');
      });
    } else if (el.hasClass('series_got') == true) {
      $('.episodes .episode').each(function(){
        var toShow = $(this).data('got');
        $(this).css('background','url('+toShow+') no-repeat center/cover');
      });
    }  else if (el.hasClass('series_vikings') == true) {
      $('.episodes .episode').each(function(){
        var toShow = $(this).data('vikings');
        $(this).css('background','url('+toShow+') no-repeat center/cover');
      });
    }
  
    $('.fullserie').addClass('active');
  });
  
  $('.fullserie .close').click(function(){
    $('.fullserie').removeClass('active');
  });
</script>


<script>

fetch("https://api.themoviedb.org/3/movie/"+{{movieid[0]}}+"/videos?api_key=58324bd42da27aa05d2eae68848a10b2&append_to_response=videost")
.then((response) => response.json())
.then((data) => {
const value = data.results[0].key
//Apply HTML src
document.getElementById("ytplayer").src = 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1'
//Set Data-Attribute
document.getElementById("ytplayer").setAttribute('data-video', 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1')
});

fetch("https://api.themoviedb.org/3/movie/"+{{movieid[1]}}+"/videos?api_key=58324bd42da27aa05d2eae68848a10b2&append_to_response=videost")
.then((response) => response.json())
.then((data) => {
const value = data.results[0].key
//Apply HTML src
document.getElementById("ytplayer1").src = 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1'
//Set Data-Attribute
document.getElementById("ytplayer1").setAttribute('data-video', 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1')
});

fetch("https://api.themoviedb.org/3/movie/"+{{movieid[2]}}+"/videos?api_key=58324bd42da27aa05d2eae68848a10b2&append_to_response=videost")
.then((response) => response.json())
.then((data) => {
const value = data.results[0].key
//Apply HTML src
document.getElementById("ytplayer2").src = 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1'
//Set Data-Attribute
document.getElementById("ytplayer2").setAttribute('data-video', 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1')
});

fetch("https://api.themoviedb.org/3/movie/"+{{movieid[3]}}+"/videos?api_key=58324bd42da27aa05d2eae68848a10b2&append_to_response=videost")
.then((response) => response.json())
.then((data) => {
const value = data.results[0].key
//Apply HTML src
document.getElementById("ytplayer3").src = 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1'
//Set Data-Attribute
document.getElementById("ytplayer3").setAttribute('data-video', 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1')
});


fetch("https://api.themoviedb.org/3/movie/"+{{movieid[4]}}+"/videos?api_key=58324bd42da27aa05d2eae68848a10b2&append_to_response=videost")
.then((response) => response.json())
.then((data) => {
const value = data.results[0].key
//Apply HTML src
document.getElementById("ytplayer4").src = 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1'
//Set Data-Attribute
document.getElementById("ytplayer4").setAttribute('data-video', 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1')
});


fetch("https://api.themoviedb.org/3/movie/"+{{movieid[5]}}+"/videos?api_key=58324bd42da27aa05d2eae68848a10b2&append_to_response=videost")
.then((response) => response.json())
.then((data) => {
const value = data.results[0].key
//Apply HTML src
document.getElementById("ytplayer5").src = 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1'
//Set Data-Attribute
document.getElementById("ytplayer5").setAttribute('data-video', 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1')
});


fetch("https://api.themoviedb.org/3/movie/"+{{movieid[6]}}+"/videos?api_key=58324bd42da27aa05d2eae68848a10b2&append_to_response=videost")
.then((response) => response.json())
.then((data) => {
const value = data.results[0].key
//Apply HTML src
document.getElementById("ytplayer6").src = 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1'
//Set Data-Attribute
document.getElementById("ytplayer6").setAttribute('data-video', 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1')
});



fetch("https://api.themoviedb.org/3/movie/"+{{movieid[7]}}+"/videos?api_key=58324bd42da27aa05d2eae68848a10b2&append_to_response=videost")
.then((response) => response.json())
.then((data) => {
const value = data.results[0].key
//Apply HTML src
document.getElementById("ytplayer7").src = 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1'
//Set Data-Attribute
document.getElementById("ytplayer7").setAttribute('data-video', 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1')
});



fetch("https://api.themoviedb.org/3/movie/"+{{movieid[8]}}+"/videos?api_key=58324bd42da27aa05d2eae68848a10b2&append_to_response=videost")
.then((response) => response.json())
.then((data) => {
const value = data.results[0].key
//Apply HTML src
document.getElementById("ytplayer8").src = 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1'
//Set Data-Attribute
document.getElementById("ytplayer8").setAttribute('data-video', 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1')
});


fetch("https://api.themoviedb.org/3/movie/"+{{movieid[9]}}+"/videos?api_key=58324bd42da27aa05d2eae68848a10b2&append_to_response=videost")
.then((response) => response.json())
.then((data) => {
const value = data.results[0].key
//Apply HTML src
document.getElementById("ytplayer9").src = 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1'
//Set Data-Attribute
document.getElementById("ytplayer9").setAttribute('data-video', 'https://www.youtube.com/embed/'+value+'?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=0&showinfo=1&mute=1')
});


</script>


</body>
</html>
